* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.root {
    width: 100vw;
    height: 100vh;
}
.main {
    height: 100%;
}
