.user {
    margin: 0 auto;

    &__header {
        position: relative;
        height: 240px;
        &__title {
            position: absolute;
            right: 20px;
            bottom: 20px;
            font-size: 3.5rem;
            font-weight: 200;
            padding: 0.5rem 1rem;
            color: white;
        }
        &__stats {
            padding: 0.5rem 1rem;
            font-weight: 500;
            display: flex;
            position: absolute;
            bottom: 20px;
            left: 20px;
            div {
                p {
                    display: flex;
                    justify-content: space-evenly;
                    font-size: 1.2rem;
                    flex: 2;
                    cursor: pointer;
                    font-size: 1.3rem;
                    &:hover {
                        filter: saturate(4);
                    }
                    span {
                        align-self: flex-end;
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        padding: 1.5rem 2rem;
        ul {
            li {
                padding: 2px 5px;
                font-size: 1rem;
                border: none;
                display: inline-block;
                padding: 0 2rem;
                letter-spacing: 0.1rem;
            }
        }
    }

    &__main {
        display: flex;
        width: 90vw;
        margin: auto;

        &__info,
        &__edit,
        &__content {
            margin: auto;
            margin-left: 5vw;
        }

        // ASIDE
        &__aside {
            flex: 1;
            padding: 0.25rem;
            min-height: 300px;
            min-width: 300px;
            max-width: 300px;

            &__header {
                &__image {
                    img {
                        border-radius: 5px;
                        width: 100%;
                    }
                }
            }

            &__content {
                padding: 1.5rem;
                padding-top: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__info {
                    margin: 1rem auto;
                    padding: 0 1.5rem;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    div {
                        p {
                            display: flex;
                            justify-content: space-between;
                            font-size: 1.2rem;
                            flex: 2;
                            cursor: pointer;
                            &:hover {
                                font-weight: 600;
                                transition: 0.2s;
                                span {
                                    text-decoration: none;
                                }
                            }
                            span {
                                align-self: flex-end;
                            }
                        }
                    }
                }

                button {
                    position: absolute;
                    right: 15px;
                    bottom: -30px;
                }

                h1 {
                    text-align: right;
                }
            }
        }
        // CONTENT
        &__content {
            flex: 4;
            padding: 0 3rem;
            overflow: hidden;
            span {
                font-size: 0.9rem;
                padding: 0.1rem 0.4rem;
                border-radius: 10px;
            }
            &__playlist {
                width: 100%;
                h2 {
                    padding-left: 0.5rem;
                }
            }
            &__music {
                width: 100%;
                h2 {
                    padding-left: 0.5rem;
                }
            }
        }

        //INFO COMPONENT
        &__info {
            text-align: start;
            width: 70%;
            min-height: 70vh;
            h3 {
                border-bottom: 1px solid white;
                margin-bottom: 20px;
                padding-bottom: 10px;
            }
            p {
                margin-bottom: 5px;
            }
        }
        &__edit {
            text-align: start;
            width: 75%;
            min-height: 90vh;
            h3 {
                border-bottom: 1px solid white;
                margin-bottom: 20px;
                padding-bottom: 10px;
            }
            &__form {
                &__data {
                    display: flex;
                    &__inputs {
                        padding-right: 50px;
                        flex: 1;
                        input {
                            display: inline-block;
                            width: 60%;
                            padding: 2px 5px;
                        }
                        label {
                            display: inline-block;
                        }
                    }
                    &__dropzone {
                        flex: 1;
                    }
                }
            }
        }
    }
}

.user__main__aside__offset {
    position: absolute;
    border-radius: 5px;
    top: -220px;
    max-width: 300px;
}

.relative {
    position: relative;
}

.inputs {
    display: block;
    margin-bottom: 30px;
}

@media (max-width: 1140px) {
    .user__main__aside {
        display: none;
    }
    .user__main__info,
    .user__main__edit {
        width: 90% !important;
        margin: 0 auto;
    }
}
@media (min-width: 1140px) {
    .user__header__stats {
        display: none;
    }
}
