.songsCard {
    width: 200px;
    margin-right: 10px;
    border-radius: 10px;
    min-width: 200px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    &__picture {
        width: 90%;
        margin: auto;
        border-radius: 8px;
        img {
            width: 100%;
        }
    }
}
