.songsCard {
    width: 200px;
    min-width: 200px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    padding: 0 0.5rem;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        background-image: url('https://i.pinimg.com/originals/00/82/9b/00829bcca1db05d383fe549843976166.jpg');
        background-size: cover;
        background-position: center;

        height: 200px;
        width: 100%;
        border-radius: 5px;
        &:hover {
            opacity: 0.9;
            transition: 0.3s;
        }
        &__header {
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
        }
        &__3pointButton {
            all: unset;
            background-image: url('https://cdn3.iconfinder.com/data/icons/user-interface-1-10/24/icon-ui-1-options-512.png');
            background-size: cover;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
        &__like {
            all: unset;
            background-image: url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png');
            background-size: cover;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
    &__playButton {
        all: unset;
        width: 50px;
        height: 50px;
        background-image: url('https://img.icons8.com/ios-filled/452/play--v1.png');
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    &__title {
        margin-top: 0.2rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        font-size: 0.9rem;
        font-weight: 400;
        color: #b4b4b4;
    }
}
