.PlaylistCard {
    width: 200px;
    min-width: 200px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    padding: 0 0.5rem;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        position: relative;

        height: 200px;
        width: 100%;
        border-radius: 5px;
        &:hover {
            opacity: 0.9;
            transition: 0.3s;
        }
        &__header {
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
        }
        &__3pointButton {
            all: unset;
            background-image: url('https://cdn3.iconfinder.com/data/icons/user-interface-1-10/24/icon-ui-1-options-512.png');
            background-size: cover;
            width: 17px;
            height: 17px;
            cursor: pointer;
        }
        &__like {
            all: unset;
            background-image: url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png');
            background-size: cover;
            width: 15px;
            height: 15px;
            cursor: pointer;
        }
    }
    &__playButton {
        all: unset;
        cursor: pointer;
        opacity: 0.2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover &__playButton {
        opacity: 0.7;
        transition: 0.5s;
        // svg {
        //     fill: red;
        // }
    }

    &__title {
        margin-top: 0.2rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        font-size: 0.9rem;
        font-weight: 400;
        color: #b4b4b4;
    }
}
