.upload-song {
    color: white;
    margin: 10vh auto;

    .upload-song__messages {
        font-size: 1.5rem;
        color: white;
    }
    h1 {
        text-align: center;
    }
    label {
        font-size: 1.4rem;
    }
    button {
        margin: 0 auto;
    }
    input {
        font-size: 1.4rem;
    }
}
