.nav-user {
    position: relative;
    &__menu {
        position: absolute;
        top: 3rem;
        right: 1.5vw;
        display: flex;
        flex-direction: column;
        z-index: 6;

        width: 140px;
        height: auto;
        padding: 0.2rem 1rem;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        animation: myMenu 0.2s linear;

        // bubble speech
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 10px 9px;
            display: block;
            width: 0;
            z-index: 1;
            top: -9px;
            left: 80px;
        }
        &:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 10px 9px;
            display: block;
            width: 0;
            z-index: 0;
            top: -10px;
            left: 80px;
        }
    }
}

@keyframes myMenu {
    from {
        opacity: 0.8;
        visibility: hidden;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .the-nav {
        padding: 2rem !important ;
    }
    .nav-menu {
        a {
            padding: 0 !important ;
            margin: 0 0.4rem !important ;
            button {
                padding: 0.5rem !important;
                margin: 0 1.5rem !important ;
            }
        }
    }
    .nav-user {
        flex-direction: row-reverse;
        .nav-user__username {
            display: none !important;
        }
    }
}
@media (max-width: 700px) {
    .nav-menu {
        a button {
            margin: 0 !important ;
        }
    }
}
