.icon {
    width: 32px;
    height: 32px;
}

.icon.is-check {
    fill: #da0562;
}

.icon.is-outlined {
    stroke: #da0562;
    stroke-width: 2px;
    fill: transparent;
}

.icon.is-hoverable:hover {
    fill: #da0562;
    cursor: pointer;
}
.active {
    fill: #da0562;
}
.icon.is-activeable:active {
    transform: scale(1.25);
    cursor: pointer;
}
.icon.is-transit {
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
