.user {
    margin: 0 auto;

    &__header {
        position: relative;
        height: 240px;
        &__title {
            position: absolute;
            right: 20px;
            bottom: 10px;
            font-size: 3rem;
            text-shadow: 2px 2px 10px black;
            color: white;
        }
    }

    &__main {
        display: flex;
        width: 90vw;
        margin: auto;

        // ASIDE
        &__aside {
            flex: 1;
            padding: 0.25rem;
            min-width: '200px';
            max-width: '300px';

            &__header {
                &__image {
                    img {
                        width: 100%;
                    }
                }
            }
            &__content {
                padding: 1.5rem;
            }
        }
        // CONTENT
        &__content {
            flex: 4;
            padding: 2rem;
            overflow: hidden;
            &__playlist {
                width: 100%;
            }
        }
    }
}

.user__main__aside__offset {
    position: absolute;
    top: -50px;
}

.relative {
    position: relative;
}
